/*.container {*/

/*}*/
/*.title {*/
    /*text-align: center;*/
/*}*/
/*.head-img {*/
    /*border-radius: 999px;*/
    /*width: 112px;*/
    /*height: 112px;*/
    /*margin: 38px auto 30px;*/
/*}*/
/*.head-img img {*/
    /*border-radius: 999px;*/
    /*width: 112px;*/
    /*height: 112px;*/
/*}*/
/*.activity-name {*/
    /*font-size: 28px;*/
    /*color: #4c566c;*/
/*}*/
/*.activity-content {*/

/*}*/

.container {

}
.title {
    text-align: center;
}
.head-img {
    border-radius: 999px;
    width: 56px;
    height: 56px;
    margin: 19px auto 15px;
}
.head-img img {
    border-radius: 999px;
    width: 56px;
    height: 56px;
}
.activity-name {
    font-size: 16px;
    color: #4c566c;
}
.activity-content {
    font-size: 14px;
    margin: 16px 0 20px 0;
    padding: 0 19px;
    text-align: justify;
    line-height: 24px;
    color: #999999;
}
.content {
    width: 875px;
    margin: 0 auto;
    background: url("../img/line.png") no-repeat center top;
}