/*.container {*/

/*}*/
/*.title {*/
    /*text-align: center;*/
/*}*/
/*.head-img {*/
    /*border-radius: 999px;*/
    /*width: 112px;*/
    /*height: 112px;*/
    /*margin: 38px auto 30px;*/
/*}*/
/*.head-img img {*/
    /*border-radius: 999px;*/
    /*width: 112px;*/
    /*height: 112px;*/
/*}*/
/*.activity-name {*/
    /*font-size: 28px;*/
    /*color: #4c566c;*/
/*}*/
/*.activity-content {*/

/*}*/

.container {
    padding: 0 19px;
}
.title {
    text-align: center;
}
.head-img {
    border-radius: 999px;
    width: 56px;
    height: 56px;
    margin: 19px auto 15px;
    border: 2px solid #afafaf;
}
.head-img img {
    border-radius: 999px;
    width: 56px;
    height: 56px;
}
.activity-name {
    font-size: 16px;
    color: #4c566c;
}
.activity-content {
    font-size: 14px;
    margin: 16px 0 20px 0;
    text-align: justify;
    line-height: 24px;
    color: #999999;
}
.content {
    max-width: 874px;
    margin: 0 auto;
    min-height: 300px;
}
.content-title {
    text-align: center;
    font-size: 14px;
    color: #bbc3c6;
    position: relative;
}
.content-title:before {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    background-color: #ececec;
    position: absolute;
    bottom: 11px;
    z-index: -1;
}
.content-title .line {
    background-color: #fff;
    z-index: 23;
    display: inline-block;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 0px 10px;
}



.mission-box {
    padding-top: 18px;
    position: relative;
}
.mission-box:before, .mission-box:after, .clearfix {
    content: "";
    clear: both;
    display: table;
}
.start-mission {
    width: 8px;
    height: 8px;
    background-color: #b3e1fc;
    border-radius: 999px;
    margin: 0 auto;
    position: relative;
}
.start-mission .start-time {
    position: absolute;
    width: 125px;
    font-size: 12px;
    color: #c3c5db;
    left: 16px;
    top: -4px;
}
.right-mission {
    float: right;
    position: relative;
    width: 50%;
    min-height: 90px;
}
.circle:after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    border-radius: 999px;
    bottom: 0;
    left: -4px;
}
.finished:after {
    background-color: #00b0ff;
}
.delay:after {
    background-color: rgb(255,0,0);
    left: auto;
    right: -4px;
}
.doing:after {
    background-color: #fff;
    width: 6px;
    height: 6px;
    border: 2px solid #00b0ff;
    left: -5px;
}
.r-m-l:before {
    content: "";
    position: absolute;
    left: -1px;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: #b3e1fc;
}
.left-mission {
    float: left;
    position: relative;
    width: 50%;
    min-height: 90px;
}
.l-m-l:before {
    content: "";
    position: absolute;
    right: -1px;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: #c3c5db;
}

.message-box {
    padding-left: 12px;
    margin-top: 30px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.message-box2 {
    padding-left: 0px;
    padding-right: 12px;
}
.message {
    background-color: #d7edff;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    padding: 9px;
    padding-bottom: 0;
    text-align: justify;
    margin-right: 7px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.message2 {
    margin-right: 0px;
    margin-left: 7px;
}
.person-img {
    position: relative;
    width: 36px;
    height: 36px;
}
.person-img .p-i {
    width: 36px;
    height: 36px;
    border-radius: 999px;
}
.person-img .status {
    font-size: 12px;
    position: absolute;
    bottom: -24px;
    left: 0;
    color: #cfd1e2;
}

.message .task {
    padding-bottom: 9px;
    border-bottom: 1px dashed #ccc;
    color: #97bbd8;
    font-size: 13px;
    font-weight: 400;
}
.message .time {
    height: 28px;
    line-height: 28px;
    color: #97bbd8;
    font-size: 12px;
    position: relative;
}